# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log

# Terraform variable files
*.tfvars
*.tfvars.json

# Secrets
.env
.env.*
*.pem
*.key

# AWS
.aws/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Node
node_modules/

# Python
__pycache__/
*.pyc